# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/libraries/Maven__antlr_antlr_2_7_7.xml
/libraries/Maven__aopalliance_aopalliance_1_0.xml
/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
/libraries/Maven__com_fasterxml_classmate_1_4_0.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_8.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_8.xml
/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_xml_2_9_8.xml
/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_9_8.xml
/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_9_8.xml
/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_9_8.xml
/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_9_8.xml
/libraries/Maven__com_fasterxml_woodstox_woodstox_core_5_0_3.xml
/libraries/Maven__com_github_andrewoma_dexx_dexx_collections_0_2.xml
/libraries/Maven__com_github_vlsi_compactmap_compactmap_1_2_1.xml
/libraries/Maven__com_google_code_findbugs_jsr305_3_0_1.xml
/libraries/Maven__com_google_code_gson_gson_2_8_5.xml
/libraries/Maven__com_google_guava_guava_16_0.xml
/libraries/Maven__com_google_guava_guava_16_0_1.xml
/libraries/Maven__com_google_guava_guava_20_0.xml
/libraries/Maven__com_google_inject_guice_4_1_0.xml
/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
/libraries/Maven__com_netflix_archaius_archaius_core_0_7_6.xml
/libraries/Maven__com_netflix_eureka_eureka_client_1_9_8.xml
/libraries/Maven__com_netflix_eureka_eureka_core_1_9_8.xml
/libraries/Maven__com_netflix_hystrix_hystrix_core_1_5_18.xml
/libraries/Maven__com_netflix_netflix_commons_netflix_commons_util_0_3_0.xml
/libraries/Maven__com_netflix_netflix_commons_netflix_eventbus_0_3_0.xml
/libraries/Maven__com_netflix_netflix_commons_netflix_infix_0_3_0.xml
/libraries/Maven__com_netflix_netflix_commons_netflix_statistics_0_1_1.xml
/libraries/Maven__com_netflix_ribbon_ribbon_2_3_0.xml
/libraries/Maven__com_netflix_ribbon_ribbon_core_2_3_0.xml
/libraries/Maven__com_netflix_ribbon_ribbon_eureka_2_3_0.xml
/libraries/Maven__com_netflix_ribbon_ribbon_httpclient_2_3_0.xml
/libraries/Maven__com_netflix_ribbon_ribbon_loadbalancer_2_3_0.xml
/libraries/Maven__com_netflix_ribbon_ribbon_transport_2_3_0.xml
/libraries/Maven__com_netflix_servo_servo_core_0_12_21.xml
/libraries/Maven__com_sun_jersey_contribs_jersey_apache_client4_1_19_1.xml
/libraries/Maven__com_sun_jersey_jersey_client_1_19_1.xml
/libraries/Maven__com_sun_jersey_jersey_core_1_19_1.xml
/libraries/Maven__com_sun_jersey_jersey_server_1_19_1.xml
/libraries/Maven__com_sun_jersey_jersey_servlet_1_19_1.xml
/libraries/Maven__com_sun_mail_javax_mail_1_6_2.xml
/libraries/Maven__com_thoughtworks_xstream_xstream_1_4_10.xml
/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/libraries/Maven__com_zaxxer_HikariCP_3_2_0.xml
/libraries/Maven__commons_codec_commons_codec_1_11.xml
/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
/libraries/Maven__commons_configuration_commons_configuration_1_8.xml
/libraries/Maven__commons_jxpath_commons_jxpath_1_3.xml
/libraries/Maven__commons_lang_commons_lang_2_6.xml
/libraries/Maven__commons_logging_commons_logging_1_0_4.xml
/libraries/Maven__io_lettuce_lettuce_core_5_1_6_RELEASE.xml
/libraries/Maven__io_micrometer_micrometer_core_1_1_4.xml
/libraries/Maven__io_netty_netty_buffer_4_1_34_Final.xml
/libraries/Maven__io_netty_netty_codec_4_1_34_Final.xml
/libraries/Maven__io_netty_netty_common_4_1_34_Final.xml
/libraries/Maven__io_netty_netty_handler_4_1_34_Final.xml
/libraries/Maven__io_netty_netty_resolver_4_1_34_Final.xml
/libraries/Maven__io_netty_netty_transport_4_1_34_Final.xml
/libraries/Maven__io_projectreactor_reactor_core_3_2_8_RELEASE.xml
/libraries/Maven__io_reactivex_rxjava_1_3_8.xml
/libraries/Maven__io_reactivex_rxnetty_0_4_9.xml
/libraries/Maven__io_reactivex_rxnetty_contexts_0_4_9.xml
/libraries/Maven__io_reactivex_rxnetty_servo_0_4_9.xml
/libraries/Maven__io_springfox_springfox_core_2_9_2.xml
/libraries/Maven__io_springfox_springfox_schema_2_9_2.xml
/libraries/Maven__io_springfox_springfox_spi_2_9_2.xml
/libraries/Maven__io_springfox_springfox_spring_web_2_9_2.xml
/libraries/Maven__io_springfox_springfox_swagger2_2_9_2.xml
/libraries/Maven__io_springfox_springfox_swagger_common_2_9_2.xml
/libraries/Maven__io_springfox_springfox_swagger_ui_2_9_2.xml
/libraries/Maven__io_swagger_swagger_annotations_1_5_20.xml
/libraries/Maven__io_swagger_swagger_models_1_5_20.xml
/libraries/Maven__it_sauronsoftware_cron4j_cron4j_2_2_5.xml
/libraries/Maven__javax_activation_activation_1_1.xml
/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/libraries/Maven__javax_annotation_javax_annotation_api_1_3_2.xml
/libraries/Maven__javax_inject_javax_inject_1.xml
/libraries/Maven__javax_persistence_javax_persistence_api_2_2.xml
/libraries/Maven__javax_transaction_javax_transaction_api_1_3.xml
/libraries/Maven__javax_validation_validation_api_2_0_1_Final.xml
/libraries/Maven__javax_ws_rs_jsr311_api_1_1_1.xml
/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/libraries/Maven__javax_xml_stream_stax_api_1_0_2.xml
/libraries/Maven__joda_time_joda_time_2_10_1.xml
/libraries/Maven__junit_junit_4_12.xml
/libraries/Maven__mysql_mysql_connector_java_8_0_15.xml
/libraries/Maven__net_bytebuddy_byte_buddy_1_9_12.xml
/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_9_12.xml
/libraries/Maven__net_minidev_accessors_smart_1_2.xml
/libraries/Maven__net_minidev_json_smart_2_3.xml
/libraries/Maven__net_sf_jpam_jpam_1_1.xml
/libraries/Maven__org_antlr_antlr_runtime_3_4.xml
/libraries/Maven__org_antlr_stringtemplate_3_2_1.xml
/libraries/Maven__org_apache_commons_commons_math_2_2.xml
/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_8.xml
/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_11.xml
/libraries/Maven__org_apache_logging_log4j_log4j_api_2_11_2.xml
/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_11_2.xml
/libraries/Maven__org_apache_mina_mina_core_2_0_7.xml
/libraries/Maven__org_apache_sshd_sshd_core_0_11_0.xml
/libraries/Maven__org_apache_sshd_sshd_pam_0_11_0.xml
/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_17.xml
/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_17.xml
/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_17.xml
/libraries/Maven__org_aspectj_aspectjweaver_1_9_2.xml
/libraries/Maven__org_assertj_assertj_core_3_11_1.xml
/libraries/Maven__org_bouncycastle_bcpkix_jdk15on_1_51.xml
/libraries/Maven__org_bouncycastle_bcpkix_jdk15on_1_60.xml
/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_51.xml
/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_60.xml
/libraries/Maven__org_codehaus_groovy_groovy_2_5_6.xml
/libraries/Maven__org_codehaus_jettison_jettison_1_3_7.xml
/libraries/Maven__org_codehaus_woodstox_stax2_api_3_1_4.xml
/libraries/Maven__org_codehaus_woodstox_woodstox_core_asl_4_4_1.xml
/libraries/Maven__org_crashub_crash_cli_1_3_2.xml
/libraries/Maven__org_crashub_crash_connectors_ssh_1_3_2.xml
/libraries/Maven__org_crashub_crash_embed_spring_1_3_2.xml
/libraries/Maven__org_crashub_crash_plugins_cron_1_3_2.xml
/libraries/Maven__org_crashub_crash_plugins_mail_1_3_2.xml
/libraries/Maven__org_crashub_crash_shell_1_3_2.xml
/libraries/Maven__org_dom4j_dom4j_2_1_1.xml
/libraries/Maven__org_freemarker_freemarker_2_3_28.xml
/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/libraries/Maven__org_hamcrest_hamcrest_library_1_3.xml
/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_9.xml
/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_0_4_Final.xml
/libraries/Maven__org_hibernate_hibernate_core_5_3_9_Final.xml
/libraries/Maven__org_hibernate_validator_hibernate_validator_6_0_16_Final.xml
/libraries/Maven__org_javassist_javassist_3_23_1_GA.xml
/libraries/Maven__org_jboss_jandex_2_0_5_Final.xml
/libraries/Maven__org_jboss_logging_jboss_logging_3_3_2_Final.xml
/libraries/Maven__org_latencyutils_LatencyUtils_2_0_3.xml
/libraries/Maven__org_mapstruct_mapstruct_1_2_0_Final.xml
/libraries/Maven__org_mockito_mockito_core_2_23_4.xml
/libraries/Maven__org_objenesis_objenesis_2_6.xml
/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
/libraries/Maven__org_reactivestreams_reactive_streams_1_0_2.xml
/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_26.xml
/libraries/Maven__org_slf4j_slf4j_api_1_7_26.xml
/libraries/Maven__org_springframework_boot_spring_boot_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_actuator_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_actuator_autoconfigure_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_actuator_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_data_redis_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_freemarker_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_remote_shell_1_5_22_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_test_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_1_4_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_commons_2_1_0_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_context_2_1_0_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_archaius_2_1_0_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_eureka_client_2_1_0_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_eureka_server_2_1_0_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_hystrix_2_1_0_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_ribbon_2_1_0_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_starter_2_1_0_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_starter_netflix_archaius_2_1_0_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_starter_netflix_eureka_client_2_1_0_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_starter_netflix_eureka_server_2_1_0_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_starter_netflix_ribbon_2_1_0_RELEASE.xml
/libraries/Maven__org_springframework_data_spring_data_commons_2_1_6_RELEASE.xml
/libraries/Maven__org_springframework_data_spring_data_jpa_2_1_6_RELEASE.xml
/libraries/Maven__org_springframework_data_spring_data_keyvalue_2_1_6_RELEASE.xml
/libraries/Maven__org_springframework_data_spring_data_redis_2_1_6_RELEASE.xml
/libraries/Maven__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml
/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml
/libraries/Maven__org_springframework_security_spring_security_crypto_5_1_5_RELEASE.xml
/libraries/Maven__org_springframework_security_spring_security_rsa_1_0_7_RELEASE.xml
/libraries/Maven__org_springframework_spring_aop_5_1_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_aspects_5_1_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_beans_5_1_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_context_5_1_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_context_support_5_1_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_core_5_1_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_expression_5_1_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_jcl_5_1_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_jdbc_5_1_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_orm_5_1_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_oxm_5_1_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_test_5_1_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_tx_5_1_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_web_5_1_6_RELEASE.xml
/libraries/Maven__org_springframework_spring_webmvc_5_1_6_RELEASE.xml
/libraries/Maven__org_xmlunit_xmlunit_core_2_6_2.xml
/libraries/Maven__org_yaml_snakeyaml_1_23.xml
/libraries/Maven__stax_stax_api_1_0_1.xml
/libraries/Maven__xmlpull_xmlpull_1_1_3_1.xml
/libraries/Maven__xpp3_xpp3_min_1_1_4c.xml
